<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'side' : 'over'"
                 [opened]="(isHandset$ | async)">
        <mat-toolbar color="primary" class="toolbar-card">
                <!-- <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="none"> -->
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="header-image"/>
                <button mat-icon-button (click)="ChangeTheme()">
                    <mat-icon >palette</mat-icon>
                </button>
                <p>@Ray</p>
                <button (click)="logout()" mat-icon-button color="">
                    <mat-icon>logout</mat-icon>
                    <!-- <span>logout</span> -->
                </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-accordion togglePosition="after" multi="false">
                <mat-expansion-panel>
                    <mat-expansion-panel-header> <!-- <mat-panel-title>Routes</mat-panel-title> --> <mat-icon>icon</mat-icon> <mat-panel-description>مسیرها</mat-panel-description> </mat-expansion-panel-header>
                    <a mat-list-item routerLink="/"><mat-icon color="accent">home</mat-icon>home</a>
                    <a mat-list-item routerLink="/post/detail" routerLinkActive="active"><mat-icon color="accent">settings</mat-icon> detail </a>
                    <a mat-list-item routerLink="/post/create" routerLinkActive="active"><mat-icon color="accent">dashboard</mat-icon> create </a>
                    <a mat-list-item routerLink="/login" routerLinkActive="active"><mat-icon color="accent">home</mat-icon>search</a>
                    <a mat-list-item routerLink="/post/list" routerLinkActive="active"><mat-icon color="accent">receipt</mat-icon> notfound </a>
                    <a mat-list-item>goto</a>
                    <app-tree></app-tree>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Routes</mat-panel-title>
                    </mat-expansion-panel-header>
                        <a routerLink="/" mat-list-item><mat-icon color="accent">cake</mat-icon>home</a>
                        <a routerLink="/" mat-list-item>home</a>
                        <a mat-list-item routerLink="/post/detail" routerLinkActive="active"> detail </a>
                        <a mat-list-item routerLink="/post/create" routerLinkActive="active"> create </a>
                        <a mat-list-item routerLink="/login" routerLinkActive="active"> login</a>
                        <a mat-list-item routerLink="/post/list" routerLinkActive="active"> notfound </a>
                        <app-tree></app-tree>
                    </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" [style.]="{}" class="toolbar">

            <div>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button
                         (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button>
                <!-- <span>Welcome</span> -->
            </div>


            <a mat-button routerLink="/" routerLinkActive="active-link"> <mat-icon color="">assignment_ind</mat-icon>برنامه اول </a>
            <a mat-button> <mat-icon color="">account_box</mat-icon>برنامه دوم</a>
            <a mat-button> <mat-icon color="">group_work</mat-icon>برنامه سوم</a>
            <a mat-button> <mat-icon color="">group_work</mat-icon>برنامه چهارم</a>

            <app-ellipsis *ngIf="loading$ | async"></app-ellipsis>

            <div class="btn-group">
                <!-- <button mat-button (click)="ChangeTheme()"><mat-icon>palette</mat-icon></button> -->
                
                <a mat-button (click)="spinner_change()">Spinner </a>
            </div>

        </mat-toolbar>
        <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async">
            <!-- *ngIf="loading$ | async" -->
        </mat-progress-bar>
        <div id="app-nav" [@routeAnimation]="getAnimationData(routerOutlet)">
            <app-loader *ngIf="loading$ | async"></app-loader>
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
        <sidebar></sidebar>
    </mat-sidenav-content>
</mat-sidenav-container>
